doctype html
link(rel='stylesheet' href='css/style.css')

head
    title My First Full Stack
body
    h1(class='header') &nbsp;Simple TODO APP
    form(method='post' action='/' class='userinput')
        label(for='todo') Task: 
        input(type='text' name='todo' id='todo')
        br
        input(type='submit' class='button' value='Add Task')


    ul
    - for (let i = 0; i < tasks.length; i++)
        li= tasks[i].task
            form(action="/delete", method="post" class='taskitem')
                input(type="hidden", name="id" value=tasks[i].id)
                input(type="submit", class='deletebutton' value="Delete")
        