body{
    font-family:'Courier New', Courier, monospace;
    margin: 0px;
}

.button {
    font-family:'Courier New', Courier, monospace;
    background: green;
    background: linear-gradient(180deg, rgb(205, 255, 199) 11%, rgba(27,222,0,1) 77%);
    margin-top: 10px;
    border-radius:25px;
    border-width: 0px;
}

.header {
    height: 36px;
    background: linear-gradient(
     white, white 33px,
     pink 35px, pink 36px);
}

body {
    background: repeating-linear-gradient(
     white, white 25px,
     #9198e5 26px, #9198e5 27px
    );
}

.taskitem { 
    margin-bottom: 14px;
}

.deletebutton {
    font-family:'Courier New', Courier, monospace;
    background: red;
    background: linear-gradient(180deg, rgb(249, 204, 204) 11%, rgb(222,14,0) 77%);
    margin-top: 4px;
    border-radius:25px;
    border-width: 0px;
    color: white;
}

.userinput {
    margin-top:24px;
}

form, li {
    margin-left: 8px;
}